<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.power">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".calender"></activity>
        <activity android:name=".price" />
        <activity android:name=".fertilizer" />
        <activity android:name=".weed" />
        <activity android:name=".inscet" />
        <activity android:name=".disease" />
        <activity android:name=".page1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".page2" />
        <activity android:name=".rice_var" />
        <activity android:name=".page3" />
        <activity android:name=".rice" />
        <activity android:name=".farming" />
        <activity android:name=".nourish" />
        <activity android:name=".area" />
        <activity android:name=".disease" />
        <activity android:name=".inscet" />
    </application>

</manifest>